<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Parser</title>
    <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <h1>Log Parser</h1>
    <form hx-post="/parse_logs" hx-target="#result" hx-swap="innerHTML" enctype="multipart/form-data" method="post">
        <label for="logfile_type">Select Log File:</label>
        <select id="logfile_type" name="logfile_type"
            hx-target="#log_column"
            hx-get="/get_available_columns">
            {% for logfile_type in logfile_types %}
                {% if option == selected_logfile_type %}
                <option value="{{ logfile_type }}" selected>{{ logfile_type }}</option>
                {% else %}
                <option value="{{ logfile_type }}">{{ logfile_type }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br/>
        <label for="log_column">Select Column of Interest:</label>
        <select id="log_column" name="log_column">
            {% for log_column in log_columns %}
                <option value="{{ log_column }}">{{ log_column }}</option>
            {% endfor %}
        </select>
        <button type="submit">Parse Logs</button>
    </form>
    <pre id="result"></pre>
</body>
</html>
